html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    background-color: #98EF79;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



  .aboutContainer{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    width: 600px;
    height:500px;
    border:  5px solid red;
  }
 

  h1.Name{
    width: 260px;
    height: 55px;
    border-radius: 10px;
    background-color: #98EF79;
    
  }

 
  
  .profile {
    width: 380px;
    height: 200px;
    border-radius: 10%;
    margin: 20px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    object-fit: cover;
    object-position: center right;
  }
  




  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
 