html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    background-color: #98EF79;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul{
    display:flex;
    justify-content: space-evenly;
    font-family: 'helvetica';
    text-decoration: none;
    
  }
  .aboutContainer{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    width: 600px;
    height:500px;
    border:  5px solid red;
  }
 

  h1.Name{
    width: 260px;
    height: 55px;
    border-radius: 10px;
    background-color: #98EF79;
    
  }

 
  
  .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    padding: 100px;
    display:flex;
    flex-direction: column;

    border: yellow 5px dotted;
    object-fit: cover;
    object-position: center right;
  }
  




 
 