
$purple: #8963F0;
$font-color:#F3C52C;

.aboutContainer{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
    height:300px;
    background-color: $purple;

}
.titles{
    width:40%;
    margin:13px;
    
}

.profile{
    background-image: url('../images/profile.jpg');
    background-image: cover;
    border-radius: 10px;
    margin:23px;
    width:390px;
    height:260px;
    background-size: 110%;
    justify-items: center;
    box-shadow:         inset 0 0 15px #000000;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.name{
display:flex;
 flex-direction: column;
 width:100%;
 height:53%;
 margin: 2px;
 padding:3px;
 border-radius:10px;
 animation-duration: 2s;
  animation-name: slidein;


}
.facts{
    width:500px;
    height: 500px;
    padding:3px;
    margin:13px;
    background-color: red;

}


@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}