
$color-primary-0: #B3D373;	// Main Primary color */
$color-primary-1: #D4F98A;
$color-primary-2: #E8F8C7;
$color-primary-3: #59771D;
$color-primary-4: #3F4C25;

.factsContainer{
    display:flex;
    flex-direction: row;
    justify-content:center;
    background-color:$color-primary-2 ;
    width: 120%;
    height:100%;
    padding:10px;
}
h1{
  color:$color-primary-2;
  -webkit-box-shadow: inset 0 0 8px $color-primary-4;
  -moz-box-shadow:    inset 0 0 8px $color-primary-4;
  box-shadow:         inset 0 0 8px $color-primary-4;
}
.facts{
    display:flex;
    flex-direction:column;
    justify-content: center;
    flex-flow: row;
    width:70%;
    height:60%;
    padding:10px;
    background-color: white;
}
ul.title{
 animation: slide-in-bottom 3s;
 font-size: 25px;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
