$purple: #8963F0;
$font-color:#F3C52C;
$semi-purple:#9B86EA;


.header{
    padding:1rem 0 3rem;
    margin-Bottom: 2.45rem;
    text-decoration: none;
    margin:0 30px 0 30px;
    background-color:$purple;
  

}

a{

    text-decoration: none;
    color:$font-color;
   
}
a:hover{
  
    text-decoration: none; 
}
h1{
    padding:10px;
    justify-content: center;
   
}

