a{
    color: red;
    text-decoration: none;
   
}
a:hover{
    color:#999999;
    text-decoration: none;
   
}
.headerDiv{
    background-color:yellow;
    margin-Bottom: 2.45rem;
    text-decoration: none;
}

