$font-color: #E8F8C7;
$color-primary-0: #B3D373;	// Main Primary color */
$color-primary-1: #D4F98A;
$color-primary-2: #E8F8C7;
$color-primary-3: #59771D;
$color-primary-4: #3F4C25;



a{
    color: $font-color;
    text-decoration: none;
   
}
a:hover{
    color:$color-primary-4;
    text-decoration: none;
   
}
.headerDiv{
    background-color:$color-primary-3;
    margin-Bottom: 2.45rem;
    text-decoration: none;
}

