
$purple: #8963F0;
$font-color:#F3C52C;
$semi-purple:#9B86EA;


.menuStyle{
  display:flex;
  flex:row;
  flex-direction:space-evenly;
  list-style: none;
  background-color: #27F3DF;
  }

  li{
    text-decoration: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: end;
    padding: 10px;
   
  }
 
 

  ul{
    text-decoration: none;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: flex-start;
    background-color:$semi-purple;
  }

  
